header {
  background: rgb(17, 26, 31);
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: .7em;
}

body {
  font-family: 'Merriweather', serif;
}

.signup {
  text-align: center;
  font-size: 1.2em;
}

.intro {
  margin-top: 5px;
  padding-bottom: 10px;
  color: rgb(97, 138, 156);
  font-size: 1.1em;
}

h2 {
  margin-bottom: 5px;
}

.line {
  border: 3px solid black;  
}

.secondline {
  border: 1px solid black;
  margin-top: -5px;
}

.thirdline {
  border: 1px solid black;
  margin-top: 20px;
}

.contact {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.3em;

}

label {
  color: rgb(97, 138, 156);
  text-align: left;
}

.second-part {
  font-size: 1.1em;
}

.newsletter {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.format {
  padding-top: 10px;
  font-size: 1.1em;
}

.topics {
  padding-top: 10px;
  padding-bottom: 15px;
  color: rgb(97, 138, 156);
  font-size: 1.1em;
}

button {
  background: rgb(53, 206, 180);
  color: white; 
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.3em;
  margin-top: 10px;
  border: none;
}

.personal-info,
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.personal-info input[required] {
  text-align: right;
  font-style: italic;
}

.personal-info input:focus,
.personal-info select:focus {
    color: blue;
}

#name,
#email,
#number,
#address,
#city,
#zipcode,
select {
background-color: rgb(224, 232, 234); 
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 0;
margin-top: 5px;
margin-bottom: 0;
border: none;
}

select {
  color: rgb(97, 138, 156);
}

#zipcode {
  max-width: 200px;
}

#html_news,
#css,
#html {
  margin-top: 10px;
  margin-bottom: 10px;
}

#javascript,
#plain_text {
  margin-top: 10px;
  margin-bottom: 20px;
}

fieldset {
  border: 0;
}

textarea {
  background-color: rgb(224, 232, 234);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 15px;
  border: none;
}

#copyright {
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  padding-top: 5px;
  color: rgb(97, 138, 156);
  margin-bottom: 30px;
}


@media(min-width: 768px){
  .signup {
    padding-top: 30px;
  }
  
  .intro {
    padding-bottom: 30px;
  }
  
  .contact {
    padding-top: 30px;
  }
  
  .info {
    width: 80%;
    margin-left: 10%;
  }
  
  header {
    width: 100%;
  }
  
  .thirdline {
    margin-top: 40px;
  }
  
  .newsletter {
    padding-top: 40px;
  }
  
  .wrapper {
    max-width: 900px;
    margin: auto;
  }

  .form {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-content: center;
   margin-bottom: 10px;
  }
  
  .personal-info {
    max-width: 100%;
  }

  .form input,
  .form select {
    width: 600px;
    margin-bottom: 20px;
  }


  #name {
    margin-left: 40px;
  }

  #city {
    margin-left: 100px;
  }

  #state {
    margin-left: 90px;
  }

  #zipcode {
    margin-top: -15px;
    margin-right: 460px;
    max-width: 200px;
  }