header {
  background: rgb(17, 26, 31);
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: .7em;
}

.signup {
  text-align: center;
}

.intro {
  margin-top: 5px;
  padding-bottom: 10px;
  color: rgb(97, 138, 156);
}

h2 {
  margin-bottom: 5px;
}

/* .intro {
  border: 1px solid black;
} */

.line {
  border: 3px solid black;  
}

.secondline {
  border: 1px solid black;
  margin-top: -5px;
}

.thirdline {
  border: 1px solid black;
}

.contact {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.3em;

}

label {
  color: rgb(97, 138, 156);
  text-align: left;
}

.newsletter {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.3em;
}

.format {
  padding-top: 5px;
}

.topics {
  padding-top: 10px;
}

#copyright {
  text-align: center;
  font-size: .7em;
}

button {
  background: rgb(53, 206, 180);
  color: white; 
  text-align: center;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.2em;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 0;
}